# Introduction To Pandas

## How to Load an Excel File 

Before Loading Excel File , do not forget to install openpyxl or xlrd (Excel Reader)

In [1]:
import pandas as pd 

data = pd.read_excel('sales_data.xlsx')

print(data)

   Order_ID     Product  Quantity  Price_per_Unit  Total_Sales  Sale_Date
0    ORD001      Laptop         2             800         1600 2023-01-01
1    ORD002      Mobile         1             500          500 2023-01-02
2    ORD003      Tablet         3             300          900 2023-01-03
3    ORD004  Headphones         1             100          100 2023-01-04
4    ORD005     Charger         5              20          100 2023-01-05
5    ORD006      Laptop         2             800         1600 2023-01-06
6    ORD007      Tablet         1             300          300 2023-01-07
7    ORD008      Mobile         3             500         1500 2023-01-08
8    ORD009  Headphones         2             100          200 2023-01-09
9    ORD010     Charger         4              20           80 2023-01-10
10   ORD011      Laptop         1             800          800 2023-01-11
11   ORD012      Mobile         3             500         1500 2023-01-12
12   ORD013      Tablet         2             300          600 2023-01-13
13   ORD014  Headphones         1             100          100 2023-01-14
14   ORD015     Charger         5              20          100 2023-01-15

# How to load Excel File with Multiple Sheets

In [3]:
import pandas as pd 

data = pd.read_excel("multiple sheet.xlsx",sheet_name='Sheet2')

print(data)

  customer    product
0      raj     iphone
1   suresh    samsung
2   himesh  motorolla

# How to load an csv File

In [2]:
import pandas as pd 

data = pd.read_csv('sales_data.csv')

print(data)

   Order_ID     Product  Quantity  Price_per_Unit  Total_Sales  Sale_Date
0    ORD001      Laptop         2             800      1600.00   1/1/2023
1    ORD002      Mobile         1             500       500.56   1/2/2023
2    ORD003      Tablet         3             300       900.00   1/3/2023
3    ORD004  Headphones         1             100       100.00   1/4/2023
4    ORD005     Charger         5              20       100.00   1/5/2023
5    ORD006      Laptop         2             800      1600.00   1/6/2023
6    ORD007      Tablet         1             300       300.00   1/7/2023
7    ORD008      Mobile         3             500      1500.00   1/8/2023
8    ORD009  Headphones         2             100       200.00   1/9/2023
9    ORD010     Charger         4              20        80.00  1/10/2023
10   ORD011      Laptop         1             800       800.00  1/11/2023
11   ORD012      Mobile         3             500      1500.00  1/12/2023
12   ORD013      Tablet         2             300       600.00  1/13/2023
13   ORD014  Headphones         1             100       100.00  1/14/2023
14   ORD015     Charger         5              20       100.00  1/15/2023

# How to Load a json file

In [4]:
import pandas as pd 

data = pd.read_json('Employee_data.json')

print(data)

  Employee_ID  Employee_Name Department  Sales_Amount  Sales_Target  \
0      EMP001       John Doe      Sales         10000         12000
1      EMP002     Jane Smith  Marketing         15000         14000
2      EMP003     Sam Wilson         IT          7000          8000
3      EMP004   Linda Taylor    Finance         12000         10000
4      EMP005  Michael Brown      Sales         11000         13000

   Achieved_Target
0            False
1             True
2            False
3             True
4            False

# How to Load an xml file

In [5]:
import pandas as pd 

data = pd.read_xml('employee_data.xml')

print(data)

   id          name  age         city
0   1      John Doe   28     New York
1   2    Jane Smith   34  Los Angeles
2   3  Mike Johnson   45      Chicago